/* This sets the fonts that your website uses; you can get fonts at: https://fonts.google.com/?sidebar.open&selection.family=Montserrat:wght@500|Roboto:wght@100;900. Just select a font, and from the right hand sidebar, click "embed", click "@import", and you'll get the import url and the info to specify font families. You'll need to specifically select different font weights if you want to use those. */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100;700;900&family=Archivo+Black&display=swap');

h1, h2, h3 {
 font-family: 'Archivo Black', sans-serif;
 font-weight: 700;
 color: #61344e;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75em;
  margin-top: 2.5em ;
  margin-bottom: 2.5em ;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* This sets the link text color; you can pick colors at this site: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool*/

a { color: #386e73; } /* CSS link color */


/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #bda8b4;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
dropdown-toggle:hover {
  background-color: #bda8b4;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #bda8b4;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #bda8b4;
  }

/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
navbar-brand:hover {
  color: #edebe6;
  background-color: #bda8b4;
}

/* This sets the background body color; you can pick colors at this site: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool*/

body {
  background-color: #edebe6 ;
}

/* This formats the social media icons on the contact page. The icons at the bottom of each page have just the default formatting. */

.socialMediaLinks a {
    font-size: 35px;
    margin: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
}

#header {
    display: none;
}